{% load static %}
<link rel="stylesheet" href="{% static 'styles/navBarEsq.css' %}">

<aside class="sidebar">
  <div class="sidebar-header">
    <h2>{{ pagina_nome|default:"Seção" }}</h2>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="{% url 'Historicos' %}">Históricos</a></li>
      <li><a href="{% url 'Solicitacoes' %}">Solicitações</a></li>
      <li><a href="{% url 'Exclusao' %}">Exclusão</a></li>
      <li><a href="{% url 'Equipamentos' %}">Equipamentos</a></li>
    </ul>
  </nav>
</aside>
