{% load static %}


<!-- SIDEBAR -->
<aside class="sidebar">
  <div class="sidebar-header">
    <h2>{{ pagina_nome|default:"Seção" }}</h2>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="{% url 'Perfil' %}">Perfil</a></li>
      <li><a href="{% url 'Manual' %}">Manual</a></li>
      <li><a href="{% url 'Solicitacoes' %}">Solicitacoes</a></li>
      <li><a href="{% url 'Configuracoes' %}">Configuracoes</a></li>
      <li><a href="{% url 'Equipamentos' %}">Acessibilidade</a></li>
      <li><a href="{% url 'Historicos' %}">Historicos</a></li>
    </ul>
  </nav>
</aside>