<!-- NAVBAR FIXA -->
<nav class="navbarPrimary">
  <div class="navDiv">
    <a class="navbarBrand" href="{% url 'home' %}">Gestao de Equipamentos</a>

    <form class="formNav" method="GET" action="{% url 'Search' %}">
      <input class="inputNav" type="search" name="q" placeholder="Buscar..." aria-label="Buscar">
      <button class="buttonNav" type="submit">🔍</button>
    </form>
  </div>
</nav>

<!-- NAVBAR SECUNDÁRIO -->
<nav class="navSec">
  <div class="Container">
    <ul class="grupoNav">
      <li class="navItem"><a class="navLink" href="{% url 'Configuracoes' %}">Configurações</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Perfil' %}">Perfil</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Consultas' %}">Consultas</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Cadastros' %}">Cadastros</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Manual' %}">Manual</a></li>
    </ul>
  </div>
</nav>




<!-- Link do CSS personalizado -->
{% load static %}
<link rel="stylesheet" href="{% static 'styles/navBar.css' %}">
