<!-- NAVBAR SUPERIOR -->
<nav class="navbarPrimary">
  <div class="navDiv">
    <a class="navbarBrand" href="{% url 'home' %}">Gestao de Equipamentos</a>
    <form class="formNav" method="GET" action="{% url 'Search' %}">
      <input class="inputNav" type="search" name="q" placeholder="Buscar..." aria-label="Buscar">
      <button class="buttonNav" type="submit">🔍</button>
    </form>
  </div>
</nav>

<!-- NAVBAR SECUNDÁRIA -->
<nav class="navSec">
  <div class="Container">
    <ul class="grupoNav">
      <li class="navItem"><a class="navLink" href="{% url 'Solicitacoes' %}">Solicitar</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Consultas' %}">Consultar</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Cadastros' %}">Cadastrar</a></li>
      <li class="navItem"><a class="navLink" href="{% url 'Historicos' %}">Historico</a></li>
    </ul>
  </div>
</nav>



<!-- Link do CSS personalizado -->
{% load static %}
<link rel="stylesheet" href="{% static 'styles/navBar.css' %}">
