/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar principal */
.navbar {
    background-color: #007bff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Marca/logo */
.brand a {
    font-size: 1.5 rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background-color: #78ddff;
    border-radius: 5px;
}


/* Responsivo */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    #menu-toggle {
        display: none;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: #e6f2ff;
        padding: 1rem 2rem;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }
}
