{% extends "base.html" %}
{% load static %}

{% block title %}Histórico de Movimentações{% endblock %}


{% block content %}
  {% include "./partials/navBarEsq.html" with pagina_nome="Historicos" %}

  <div class="main-content">
    <h1>Histórico de Movimentações</h1>

    <div class="filtro-historico">
      <form method="GET">
        <input type="text" name="equipamento" placeholder="Filtrar por equipamento">
        <input type="date" name="data">
        <button type="submit">🔎 Filtrar</button>
      </form>
    </div>

    <div class="lista-historico">
      <ul>
        <li>
          <strong>Notebook Dell</strong><br>
          <em>Usuário:</em> João Silva<br>
          <em>Data:</em> 2024-08-12<br>
          <em>Status:</em> Reservado
        </li>
        <li>
          <strong>Projetor Epson</strong><br>
          <em>Usuário:</em> Maria Souza<br>
          <em>Data:</em> 2024-08-10<br>
          <em>Status:</em> Devolvido
        </li>
        <!-- Adicione mais <li> conforme necessário -->
      </ul>
    </div>
  </div>
{% endblock %}
