<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    
    {% extends 'partials/base.html' %}
    {% load static %}
    <!-- Estilo da navbar -->
    <link rel="stylesheet" href="{% static 'styles/navBar.css' %}">
    <!-- Estilo da home -->
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>


{% block title %}Home{% endblock %}

{% block content %}
    <h1>Hello world</h1>
{% endblock %}

</body>
</html>