<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Busca{% endblock %}

    {% block content %}
    <h1>🔍 Resultados da Busca</h1>
    {% if query %}
    <p>Você pesquisou por: <strong>{{ query }}</strong></p>
    {% else %}
    <p>Nenhum termo de busca informado.</p>
    {% endif %}
    {% endblock %}

</body>
</html>